<div class="row">
  <div class="col-md-12">
    
    <br/>
    <div class="jumbotron">
      <h1 class="glyphicon glyphicon-list pull-left"></h1>
      <h1>&nbspBlocitoff</h1>
      <p>The really awesome TO-DO app!</p>
      <%= link_to "Learn more", about_path, class: 'btn btn-info btn-lg' %>
    </div>  
  </div>
</div>
