<%= form_for [list, list.items.new] do |f| %>
  <div class="form-group">
    <%= f.label "New To-Do Item:" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'What do you need to do?' %>
  </div>

  <div class="form-group">
    <%= f.submit "Add", class: 'btn btn-default' %>
  </div>
<% end %>    