<tr id="item-<%= item.id %>">
  <td class="width-percent-60">
    <%= item.name %>
  </td>
  <td class="width-percent-20">
    <small><%= item.days_left %></small>
  </td>
  <td class="width-percent-20">
    <small><%= link_to "", [list, item], method: :delete, class: "glyphicon glyphicon-ok", remote: true %></small>
  </td>
</tr>