@import "bootstrap-sprockets";
@import "bootstrap";

// Users
.user-info {
  margin: 9px 9px 0 0;
}

// Lists
.btn-list-edit {
  position: relative;
  top: -5px;
}

// Items
.width-percent-60 {
  width: 60%;
}
.width-percent-20 {
  width: 20%;
}